<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="excludeSetting" type="Hoga.Tech.DependecyInjection.Model.ExcludeSetting, Hoga.Tech.DependencyInjection, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="primaryDepend" type="Hoga.Tech.DependecyInjection.Model.PrimaryDepenSetting, Hoga.Tech.DependencyInjection, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <excludeSetting>
    <add name="MongoDB." />
    <add name="Newtonsoft."/>
    <add name="RabbitMQ."/>
    <add name="SharpCompress."/>
    <add name="NLog."/>
    <add name="Views.dll"/>
    <add name="SharpCompress."/>
    <add name="log4net."/>
    <add name="DependencyInjection.dll"/>
  </excludeSetting>
  <primaryDepend>
  </primaryDepend>
</configuration>
